/* General styles */
.search-barsm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    position: relative;
  }
  
  .search-barsm input {
    width: 100%;
    padding: 10px 40px 10px 20px; /* Adjust padding to make room for the icon */
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .search-barsm input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .search-barsm .search-icon {
    position: absolute;
    right: 15px;
    font-size: 18px;
    color: #aaa;
    pointer-events: none;
  }
  .search-barsm{
    display: none;
  }
  
  /* Media Queries */
  @media (max-width: 1280px) {
    .search-barsm {
     display: flex;
    }
  }
  
  @media (max-width: 1024px) {
    .search-barsm {
        display: flex;
    }
  }
  
  @media (max-width: 800px) {
    .search-barsm {
        display: flex;
    }
  }
  
  @media (max-width: 500px) {
    .search-barsm {
        display: flex;
        margin: 10px auto;
        
    }
    .search-barsm input{
        font-size: 13px;
    }
    .search-barsm .search-icon {
        font-size: 14px;
    }
  }
  